<!DOCTYPE html>
<html>
  <head>
    <title>Shippable: Ops-Dashboard-Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<p>A error occurred trying to log you in to the system.</p>
  	<p> Please check if your Github ID has the superuser role or contact system admin for assistance </p>
    <a href="/auth/github">Login</a>
  </body>
</html>

