
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shippable -Ops Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

	<!-- Endless -->
	<link href="/stylesheets/endless.css" rel="stylesheet">
	<link href="/stylesheets/endless-skin.css" rel="stylesheet">
	
  </head>

  <body>
	<div id="wrapper">
		<div class="padding-md" style="margin-top:50px;">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
					<h1 class="m-top-none error-heading">Error!</h1>
					
					<h4>We can't log you in. Please contact administrator for help.</h4>
					<a class="btn btn-success m-bottom-sm" href="/auth/github">Login</a>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.padding-md -->
	</div><!-- /wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	
	<!-- Jquery -->
    <script src="/js/theme/jquery-1.10.2.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="/js/bootstrap/js/bootstrap.min.js"></script>
   
    <!-- Cookie -->
    <script src='/js/theme/jquery.cookie.min.js'></script>

    <!-- Endless -->
    <script src="/js/theme/endless/endless.js"></script>
	
  </body>
</html>
