<!DOCTYPE html>
<html>
  <head>
    <title>Shippable: Ops-Dashboard-Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<p>A error occurred while logging you in. Please try again</p>
    <a href="/auth/github">Login</a>
  </body>
</html>

