<!DOCTYPE html>
<html>
  <head>
    <title>Shippable: Dashboard-Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome  <%= user %></p>
    <a href="/">Logout</a>
  </body>
</html>