<!DOCTYPE html>
<html ng-app="angSpa">
  <head>
    <script src= "/js/lib/angular/angular.js"></script>
    <script src= "/js/lib/angular/angular-route.js"></script>
    <script src= "/js/lib/angular/angular-sanitize.js"></script>
    <script src= "/js/lib/angular/angular-cookies.js"></script>
    <script src= "/js/app/app.js"></script>
    <script src= "/js/app/services/nodeservices.js"></script>
    <script src= "/js/app/controllers/homeController.js"></script>
    <script src= "/js/app/controllers/subscriptionsController.js"></script>
    <script src= "/js/app/controllers/containerController.js"></script>
    <script>
      var config = {
        MW_URL: "<%= config.middleware.endPoint %>",
        runMode: "<%= config.runMode %>",
        shippableTokenIdentifier: "<%= config.shippableTokenIdentifier %>"
      }
    </script>
    <title>Shippable: Dashboard-Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/logout">Logout</a>
    <div ng-view>
      
    </div>
    
  </body>
</html>
