 <div class="modal-header">
    <h3>Edit subscription</h3>
  </div>

  <div class="modal-body">

    <h5>Subscription Name: {{subscription.name}}<h5>
    <br />

   <form name="editSubsciprtionNameForm"> 
    <div class="search-block">
					<div class="input-group">
                      <input type="text" class="form-control input-sm" placeholder="Enter new name for subscription" ng-model="subscription.name" required ></input>
						<span class="input-group-btn">
							<button class="btn btn-default btn-sm" type="submit" ng-disabled="addNewCollaboratorForm.$invalid"  ng-click="updateSubscription()">update</button>
						</span>
					</div><!-- /input-group -->
				</div><!-- /search-block -->
  </form>
  <br />
  <h5>Subsciprtion Plan: {{subscription.plan}} </h5>
    <table class="table">
            <thead>                
                <th>Name</th>
                <th>Free</th>
                <th>Lite</th>
            </thead>
            <tbody><tr>
                <td>{{subscription.name}}</td>
                <td><input type="radio" ng-model="subscription.plan" value="free" ng-change="updateSubscription()"/></td>
                <td><input type="radio" ng-model="subscription.plan" value="lite" ng-change="updateSubscription()"/></td>
                </tr>
            </tbody>
          </table>
  <div ng-if="message">
  <h5>Message: </h5>
  <p>{{message}}</p>
</div>
</div>

<div class="modal-footer">
  <button class="btn btn-sm btn-primary" ng-click="close()">Close</button>
</div>
