<div style="float:right;">
<a class="btn btn-xs btn-danger" ng-click="deleteAccount(true)" ng-disabled="disable_deleteAccountButton">Delete Account</a><br/>
</div>
<div>
  {{accountModel.err}}
  {{accountModel.status}}
  <div ng-if="accountModel.account.id">
            <div class="row">
             
              <div class="col-xs-6 col-sm-12 col-md-6" style="width:500px">
                <strong class="font-14">AccountId: {{accountModel.account.id}}</strong>
                <div class="seperator"></div>
                <strong class="font-14">
                 LastUsedIdentityId : {{accountModel.account.lastUsedIdentityId}}
                </strong> 
                <div class="seperator"></div>
              <strong class="font-14">System Roles : {{accountModel.account.systemRoles}}</strong>
                <div class="seperator"></div>              
                
                <div class="seperator"></div>
                </div>
                </div>
  <div class="panel" style="width:800px">
  <div class="panel-body">                  
      <div class="pull-left m-left-sm"  >
      Identities 
      </div>
      </div>
      </div>              
                
 <div class="panel" style="width:800px" ng-repeat="a in accountModel.account.identities">
  <div class="panel-body">                  
      <div class="pull-left m-left-sm"  >  
      

        <table class="table table-hover table-striped">
            <tbody>
                  <tr>
                    <td> <img src="{{a.avatarUrl}}" alt="User Avatar" class="img-thumbnail" height="80px" width="80px"></td>
                    <td> Username: {{a.userName}} </td>
                  </tr>
                  <tr>
                    <td>Provider: </td>
                    <td>{{a.provider}}</td>
                  </tr>
                  <tr>
                    <td>Identity Id:</td>
                    <td>{{a.id}}</td>
                  </tr>
                  <tr>
                    <td>ProviderId:</td>
                    <td>{{a.providerId}}</td>
                  </tr>
                  <tr ng-if="a.firstName">
                    <td>Name:</td>
                    <td>{{a.firstName}}{{a.lastName}}</td>
                  </tr>
                  
                  <tr ng-if="a.displayName">
                    <td>DisplayName:</td>
                    <td>{{a.displayName}}</td>
                  </tr>
                  <tr>
                    <td>AvatarUrl:</td>
                    <td>{{a.avatarUrl}}</td>
                  </tr>
                  <tr>
                    <td>AvatarId:</td>
                    <td>{{a.avatarId}}</td>
                  </tr>
                  <tr>
                </tbody>
              </table>
                      </div>
                      </div>
                      </div>
   </div>       
  </div
