<div>
{{accountsModel.err}}
 <div class="panel" style="width:800px">
                  <div class="panel-body">                  
                    <div class="pull-left m-left-sm"  >  
                    <table class="fixed">                  
                      <strong class="font-14">
                      <thead> 
                        <th width="200px">Account Id</th> 
                        <th width="200px">Identities</th>
                        <th width="300px">Actions</th>
                        </thead>
                        </strong>
                      </table>
                      </div>
                      </div>
                      </div>
   
        <div class="panel" style="width:800px">
                  <div class="panel-body" ng-repeat="account in accountsModel.accounts" >                  
                    <div class="pull-left m-left-sm"  >  
                    <table class="fixed">                  
                      <strong class="font-14">
                      
                        <col width="200px"></col>
                        <col width="200px"></col>
                        <col width="300px"></col>
                        
                        </strong><br/>
                       <tr> <td>{{account.id}} </td>
                            <td> <table>
                             <tbody ng-repeat="a in account.identities">
                             <tr>
                                <td>  {{a.userName}}:{{a.provider}}</td>
                             </tr>
                            </tbody>
                            </table>
                          </td> 
                        
                       <td >
                         <button class="btn btn-xs btn-info" ng-click="getAccountById(account.id)" >View Account Profile</button>
                      <button class="btn btn-xs btn-info" ng-click="getSubscriptions(account.id)">View Subscriptions</button>
                       </td>
                       </tr> 
                                       
                      </table>
                    </div>
                  </div>
                </div><!-- /panel -->
      
     </div>