<div>
<table ng-if="accountsModel.accounts[0].id">
       <thead> 
         <th>Account Id</th> 
         <th>Identities</th>
         <th>Actions</th>
       </thead>
       <tbody>
         <tr ng-repeat="account in accountsModel.accounts"> 
           <td>{{account.id}}</td>
           <td> <table>
                  <tbody ng-repeat="a in account.identities">
                    <tr>
                       <td>  {{a.userName}}:{{a.provider}}</td>
                    </tr>
                   </tbody>
                 </table>
           </td>    
           <td><button  ng-click="getAccountById(account.id)" >Show Account Profile</button>
               <button ng-click="getSubscriptions(account.id)">Show Subscriptions</button>
           </td>
       </tr>
     </tbody>
     </table>
     </div>