

<h4>Builds Information</h4>
<div style="float:right;">
<a class="btn btn-xs btn-success" ng-click="runBuild(true)" ng-disabled="disable_runButton">Run a Build</a><br/>
</div>
<select ng-model="selectedBuildPhase" ng-options="v as k for (k,v) in buildPhasesObj ">
  </select>
  <button class="btn btn-xs btn-danger" ng-disabled="selectedBuildNumbers.length == 0" ng-click="deleteSelectedBuilds()">Delete Selected Builds</button>
  <div class="seperator"></div>
  <table class="table table-bordered table-condensed table-hover table-striped" >
  <thead>
    <th>
      
      <label class="label-checkbox">
        <input type="checkbox" ng-model="masterToggle" ng-change="selectAllBuilds()" /></td>
      <span class="custom-checkbox"></span>
    </label>
  </th>
                <th><a href="" class="short-cut link" ng-click="changeSorting('buildNumber')">Build Number</a></th>
                <th><a href="" class="short-cut link" ng-click="changeSorting('phase')">Phase</a></th>
                <th><a href="" class="short-cut link" ng-click="changeSorting('status')">Status</a></th>
                <th><a href="" class="short-cut link" ng-click="changeSorting('duration')">Duration</a></th>
                <th>Commit Sha</th>
                <th><a href="" class="short-cut link" ng-click="changeSorting('lastAuthorEmail')">Last Author</a></th>
                <th><a href="" class="short-cut link" ng-click="changeSorting('triggeredByAuthor')">Triggered By</a></th>
                <th>Options</th>
            </thead>
            <tbody>
              <tr ng-repeat="build in builds | filter: {phase: selectedBuildPhase} |orderBy:sort.column:!sort.descending" ng-if="build.buildNumber"> 
                <td>
                  <label class="label-checkbox">
                  <input type="checkbox"  ng-model="build.isSelected">
                    <span class="custom-checkbox"></span>
                </label>
                </td>
                    <td>{{build.buildNumber}}</td>
                    <td>{{build.phase}}</td>
                    <td>{{build.status}}</td>
                    <td>{{build.duration}}</td>
                    <td>{{build.commitSha}}</td>
                    <td>{{build.lastAuthorEmail}}</td>
                    <td>{{build.triggeredByAuthor}}</td>
                     <td><a class="btn btn-xs btn-info" ng-click="getBuildDetails(build.buildNumber)">Show Details</a> 
                    <a class="btn btn-xs btn-danger" ng-click="deleteBuild(build.buildNumber,true)">Delete</a> 
                    </td>
                </tr>
            </tbody>            
   </table>

   <div style="clear:both;">
        <ul ng-repeat = "error in errorsAndMessages track by $index ">
            <li>{{error}}</li>
        </ul>
    </div>
