Build Information<br/><br/>

{{buildModel.err}}
<tabset>
<tab heading="Console">
<br/>

<span class="code">

<div ng-repeat="consoleItem in compressedLogs track by $index"> <!-- ng-class="{'bg-primary' : consoleItem.shouldCompress}"> --> 
<div ng-click="consoleItem.isShowing = !consoleItem.isShowing" ng-if="consoleItem.shouldCompress"  class="span_pre">
 <span class="">
 <i class = "console_compress_icon fa fa-sm" ng-class="{'fa-minus-circle' : consoleItem.isShowing, 'fa-plus-circle' : !consoleItem.isShowing}"></i></span><span> {{consoleItem.meta}}</span>
 <span class="pull-right" style="color:white;margin-right:5px;">{{consoleItem.title}}</span>
</div>
 <div ng-if="!consoleItem.shouldCompress" class="pre">{{consoleItem.meta}}
</div>
<div class="pre" ng-repeat="console in consoleItem.output track by $index" ng-hide="!consoleItem.isShowing && consoleItem.shouldCompress" ng-class="{'bg-warning' : consoleItem.isCmd}"
  ng-bind-html="to_trusted(console)">
</div>
</div>



            </span>


<br/>
<br/>
</tab>
<tab heading="Tests">Tests</tab>
<tab heading="Coverage">Coverage</tab>      
</tabset>
