

<h4>Builds Information</h4>
<div style="float:right;">
<a class="btn btn-xs btn-success" ng-click="runBuild(true)" ng-disabled="disable_runButton">Run a Build</a><br/>
</div>
<select ng-model="selectedBuildPhase" ng-options="v as k for (k,v) in buildPhasesObj ">
  </select>
  <button class="btn btn-xs btn-danger" ng-disabled="selectedBuildNumbers.length == 0" ng-click="deleteSelectedBuilds()">Delete Selected Builds</button>
  <div class="seperator"></div>
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body"> 
                  <div class="inline-block m-top-sm" 
                    ng-class="build.status | mapBuildStatusToColor" 
                    style="margin-left:5px;margin-right:5px;width:150px;" 
                    ng-repeat="build in builds | filter: {phase: selectedBuildPhase} |orderBy:sort.column:!sort.descending" ng-if="build.buildNumber"
                    ng-click="toggleSelection(build)"
                    >

                    <div class="media"  ng-class="build.isSelected ? 'bg-info' : ''" style="padding: 5px;">
                      <span class="pull-left">
                        <h1>{{build.buildNumber}}</h1>
                      </span> <!-- span build number -->
                      <div class="media-body">
                        <strong class="block">{{build.phase}} 
                          <span class="pull-right"><i class="fa fa-times-circle fa-lg" ng-click="deleteBuild(build.buildNumber,true)"></i> </span> 

                        </strong> <!-- build phase -->                       
                        <strong class="block">{{build.duration | format_seconds}}
                         <span class="pull-right">
                           <a href="mailto:{{build.lastAuthorEmail}}" tooltip-placement="right" tooltip="{{build.lastAuthorEmail}}" style="color:white;"><i class="fa fa-user fa-lg" ng-click="$event.stopPropagation()"></a></i> 
                        </span>  <!-- author email -->
 

                        </strong>

                        <span class="pull-right">
                          <a href="{{build.downloadUrl}}" target="_blank" style="color:white;"><i class="fa fa-arrow-circle-o-down fa-lg" ng-click="$event.stopPropagation()"></a></i> 
                        </span>  <!-- download url -->

                      </div>
                      <div class="media-body pull-right" style="padding-bottom: 5px;">
                        <i class="fa fa-info-circle fa-lg" ng-click="getBuildDetails(build.buildNumber); $event.stopPropagation();"></i> 
                      </div> <!-- build info -->
                    </div> <!-- media body -->
                    
                  </div> <!-- media -->
                </div>
              </div>

            </div>
                     </div>
   <div style="clear:both;">
        <ul ng-repeat = "error in errorsAndMessages track by $index ">
            <li>{{error}}</li>
        </ul>
    </div>
