<div ng-if="nodes[0]._id">
<table class="table table-bordered table-condensed table-hover table-striped">
  <thead>
    <th>Node Id</th>
    <!--    <th>Subscription</th> -->
<th>Machine</th>
<th>Type</th>
<th>State</th>
<th>Created</th>
<th>Updated</th>
<th>Latest Project</th>
<th>Latest Build</th>
<th>Latest Build Status</th>
<th>Latest Build Time</th>
</thead>

  <tr ng-repeat = "node in nodes | orderBy:'created'">
    <td>{{node._id}}</td>
    <!--    <td><a class="btn btn-xs btn-info" ng-href="/subscriptions/{{node.subscriptionId}}">Show Subscription</a> -->
    <td>{{node.vmName}}</td>
    <td>{{node.nodeType}}</td>
    <td>{{node.nodeState | mapToNodeStatus}}</td>
    <td>{{node.created | format_to_pst }}</td>
    <td>{{node.updated | format_to_pst }}</td>
    <td><span ng-if="node.latestProjectRun"><a class="btn btn-xs btn-info" ng-click="showLastProjectPage(node.latestProjectRun)">{{node.latestProjectRun}}</a></span></td>
    <td><span  ng-if="node.latestBuildRun"> <a class="btn btn-xs btn-info" ng-click="showLastBuildPage(node.latestProjectRun,node.latestBuildRun)">Build# {{node.latestBuildRun}}</a> </span></td>
    <td>{{node.latestBuildStatus | mapBuildStatus}}</td>
    <td > <span ng-if="node.latestBuildTime">{{node.latestBuildTime | format_to_pst }}</span></td>
  </tr>
</table>
</div>

<div style="clear:both;">
        <ul ng-repeat = "message in messages track by $index">
            <li>{{message}}</li>
        </ul>
    </div>

