    <div style="clear:both;">
    	<div style="float:right;">
            <select ng-model="selectedNodeId" ng-options="node.id as node.name for node in nodeTypes"></select>
    		<button ng-click="addNode()">Add</button>
    	</div>
    </div>


    <div style="clear: both;">
        <table width=100% border="1">
    		<thead>
                <th>Node Id</th>
    			<th>Node Status</th>
    			<th>Node Type</th>
    			<th>Created</th>
    			<th>Updated</th>
    			<th>Options</th>
    		</thead>
    		<tbody>
    			<tr ng-repeat="node in nodes">
                    <td>{{node.Id}}</td>
                    <td>{{node.status}}</td>
                    <td>{{node.type}}</td>
                    <td>{{node.created}}</td>
                    <td>{{node.updated}}</td>
                    <td><button>Delete</button></td>
                </tr>
    		</tbody>
    	</table>
    </div>

    <div style="clear:both;">
        <h4>Errors</h4>
        <ul ng-repeat = "error in errorsAndMessages">
            <li>{{error}}</li>
        </ul>
    </div>
