
<div class="clearfix" style="margin-bottom:10px;">
    	<div style="float:right;">


            <select  ng-model="selectedNodeId" ng-options="node.id as node.name for node in nodeTypes"></select>
    		<a class="btn btn-xs btn-success" ng-click="addNode()">Add</a>
    	</div>
    </div>


    
    

    <table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
            <thead>
                <th><a href="" class="short-cut link" ng-click="changeSorting('id')">Node Id</a></th>
                <th><a href="" class="short-cut link" ng-click="changeSorting('status')">Node Status</a></th>
                <th><a href="" class="short-cut link" ng-click="changeSorting('created')">Created On</a></th>
                <th><a href="" class="short-cut link" ng-click="changeSorting('updated')">Updated On</a></th>
                <th>Options</th>
            </thead>
                                </thead>
                                <tbody>
                <tr ng-repeat="node in nodes | orderBy:sort.column:!sort.descending">                    
                    <td>{{node.id}}</td>
                    <td>{{node.status | mapToNodeStatus}}</td>
                    <td>{{node.created | format_to_pst }}</td>
                    <td>{{node.updated | format_to_pst }}</td>
                    <td align="right"><a class="btn btn-xs btn-danger" ng-click="deleteNode(node.id)">Delete</a></td>
                </tr>
            </tbody>
            
   </table>

   <div style="clear:both;">
        <ul ng-repeat = "error in errorsAndMessages track by $index">
            <li>{{error}}</li>
        </ul>
    </div>

