<div>
  <form name="myForm"> 
    Enter Github Id: 
    <input type="text" name= "user_id"  ng-model="username" required></input><br/>
    <button ng-disabled="myForm.$invalid"  ng-click="getUser()">Search</button><br/></br>
    {{err}}
    <table>
      <th>Users</th><th>Provider</th>
     <tbody border="1" ng-repeat="user in users">
       <tr ng-repeat="u in user.identities">
           <td> <a ng-href="/user/{{user.id}}/subscriptions">{{u.userName}}</a></td>
           <td> {{u.provider}}</td>
       </tr>
     </tbody>
     </table>
   </form>
   </br>
</div>
