<div>
  <form name="myForm"> 
    Enter Github Id: 
    <input type="text" name= "user_id"  ng-model="accountsModel.githubId" required></input><br/>
    <button ng-disabled="myForm.$invalid"  ng-click="getAccount()">Search</button><br/></br>
    {{err}}
    <table>
      <th>Users</th><th>Provider</th>
     <tbody ng-repeat="account in accountsModel.accounts">
       <tr ng-repeat="a in account.identities">
           <td> <a ng-href="/accounts/{{account.id}}/subscriptions">{{a.userName}}</a></td>
           <td> {{a.provider}}</td>
       </tr>
     </tbody>
     </table>
   </form>
   </br>
</div>
