<div>
  <form name="myForm"> 
    Enter Github Id: 
    <input type="text" name= "user_id"  ng-model="accountsModel.githubId" required></input><br/>
    <button ng-disabled="myForm.$invalid"  ng-click="getAccount()">Search</button><br/></br>
    {{accountsSearchModel.err}}
    <table>
      <th>Users</th><th>Provider</th>
     <tbody ng-repeat="account in accountsSearchModel.accounts" >
       <tr ng-repeat="a in account.identities" ng-if="account.id">
           <td>{{a.userName}}</td>
           <td> {{a.provider}}</td>
           <td><button  ng-click="getAccountById(account.id)" >Show User Profile</button></td>
           <td><button ng-click="getSubscriptions(account.id)">Show Subscriptions</button></td>
       </tr>
     </tbody>
     </table>
   </form>
   </br>
</div>
