<a href="#" class="btn btn-primary" ng-click="goBack()"><i class="fa fa-chevron-left"></i> Back</a>
<a href="#" class="btn btn-primary" ng-click="goForward()">Forward <i class="fa fa-chevron-right"></i></a>

<h3>Account Information </h3>
<p>User Name: {{subscriptionsModel.accountInfo.identities[0].userName}} </p>



<h4>Subscriptions overview </h4>
<div ng-show="subscriptionsModel.subscriptions.length !==0">
<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
    <th><a href="" class="short-cut link" ng-click="changeSorting('name')">Subscription Name</a></th>
    <th>Storage Bytes Used</th>
    <th>Private Projects Used</th>
    <th>Nodes Used</th>
    <th>Options</th>
</tr>

    <tr ng-repeat="s in subscriptionsModel.subscriptions | orderBy:sort.column:sort.descending">
        <td>{{s.name}}</td>
        <td> {{s.percent_storageBytesUsed}} %</td>
        <td> {{s.percent_privateProjectsUsed}} %</td>        
        <td> {{s.percent_nodesUsed}} %</td>
    <td>

        <a class="btn btn-xs btn-info" ng-click="getCardInfo(s.cardId)" ng-if="s.cardId">Card Details</a>
        <a class="btn btn-xs btn-info" ng-click="getToNodesOnSubId(s.id)">Manage Nodes</a>
        <a class="btn btn-xs btn-info" ng-click="getProjects(s.id)">Projects</a>
        <a class="btn btn-xs btn-danger" ng-click="delSubBySubId(s.id)">Delete</a>
    </td>
    </tr>
  </table>
</div>

 <div>{{subscriptionsModel.zeroSubscriptionsMessage}} </div>

<div ng-show="subscriptionsModel.errors.length !== 0" >
<p>Errors: </p>
  <ul>
    <li ng-repeat="error in subscriptionsModel.errors">{{error}}</li>
  </ul>
</div>


